.rodape-configuracoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botao {
  width: 350px;
  height: 80px;
  border-radius: 45px;
  background-color: var(--bg-button-color);
  color: #FFFFFF;
  font-size: 20px;
  box-shadow: 2px 2px 0px 1px #000000;
  cursor: pointer;
}

.botao:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.botao:hover {
  background-color: var(--bg-color);
}

@media screen and (max-width: 800px) {
  .botao {
      width: 220px;
      margin: 32px 0;
  }
  .rodape-configuracoes {
      flex-direction: column;
  }
  .rodape-configuracoes img {
      margin-top: 32px;
  }
}