.card {
  background: var(--bg-form-color);
  border: 2px solid var(--dark);
  box-sizing: border-box;
  border-radius: 64px 64px 0px 0px;
  padding: 80px;
  display: flex;
  flex: 1;
  margin-top: -32px;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .card {
    margin-top: -19px;
  }

}