@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 80px;
}

.image-logo {
  background-image: url("../../assets/images/logo.svg");
  width: 351px;
  height: 117px;
}

.participante {
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .cabecalho {
    flex-direction: column;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
  }

  .image-logo {
    background-image: url("../../assets/images/logo-pequeno.svg");
    width: 186px;
    height: 157px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .participante {
    width: 328px;
    height: 158px;
  }
}